<wicket:panel>
    <div class="subdata">
        <div class="notifybox">
            Az egyes egyének kinevezéseit a Jogok oszlopban található link segítségével
            tudod egyénenként beállítani. Öregtaggá avatni pedig az Öregtagok oszlopban található
            jelölőnégyzeteket használva tudod csoportosan kijelölni az egyes tagokat.
            Öregtaggá csak olyan tagot lehet avatni, aki nem rendelkezik különleges jogokkal.<br/>
            A táblázat alján található Mentés gombbal tudod véglegesíteni az öregtaggá
            nyílvánítást.
        </div>

        <form wicket:id="form">
            <table wicket:id="table" class="withheader"></table>
            <input wicket:id="oldBoyButton" type="submit" class="btn" value="Öregtaggá nyilvánítás" />
            <input wicket:id="eraseButton" type="submit" class="btn" value="Tagok törlése" />
        </form>
    </div>
</wicket:panel>