<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="community-info" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>${application.resource.dir}/korok/logs/community-info.log</File>
    <encoder>
      <pattern>%-5p %d{yyyy.MM.dd. HH:mm:ss} %c - %m %n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>10</maxIndex>
      <FileNamePattern>${application.resource.dir}/korok/logs/community-info.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>2MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <appender name="community" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>${application.resource.dir}/korok/logs/community.log</File>
    <encoder>
      <pattern>%-5p %d{yyyy.MM.dd. HH:mm:ss} %c - %m %n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>20</maxIndex>
      <FileNamePattern>${application.resource.dir}/korok/logs/community.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>2MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <appender name="community-ejb" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>${application.resource.dir}/korok/logs/community-ejb.log</File>
    <encoder>
      <pattern>%-5p %d{yyyy.MM.dd. HH:mm:ss} %c - %m %n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>15</maxIndex>
      <FileNamePattern>${application.resource.dir}/korok/logs/community-ejb.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>2MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <logger name="hu.sch.web" additivity="false" level="INFO">
    <appender-ref ref="community-info"/>
    <appender-ref ref="community"/>
  </logger>
  <logger name="org.hibernate" additivity="false" level="WARN">
    <appender-ref ref="community-ejb"/>
  </logger>
  <logger name="hu.sch.ejb" additivity="false" level="INFO">
    <appender-ref ref="community-ejb"/>
  </logger>
  <logger name="org.apache.wicket" additivity="false" level="WARN">
    <appender-ref ref="community-info"/>
    <appender-ref ref="community"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="community"/>
  </root>
</configuration>