<wicket:panel wicket:id="oldUser">
    <div class="subdata">
        <table class="withheader">
            <tr class="headers">
                <th style="width: 250px;">Felhasználó neve</th>
                <th>Becenév</th>
                <th style="width: 180px">Tagság ideje</th>
            </tr>
            <tr wicket:id="oldBoy">
                <td>
                    <wicket:panel wicket:id="userLink" />
                </td>
                <td wicket:id="user.nickName" />
                <td><span wicket:id="start" /> - <span wicket:id="end" /></td>
            </tr>
        </table>
    </div>
</wicket:panel>
