<div id="gprofile-container">

    <div class="gprofile-logo">
        <img src=""/>
    </div>

    <div class="gprofile-photo-name">
        <div class="gprofile-name">Clubception</div>
        <div class="gprofile-description">Az első emeleti kocsma rendezvényeinek felelőse</div>
    </div>

    <div class="gprofile-sub-menu">
        <nav class="gprofile-sub-menu-navigation">
            <ul>
                <li><a href="">Adatok</a></li>
                <li><a href="">Tagok</a></li>
                <li><a href="" class="on">Értékelések</a></li>
            </ul>
        </nav>
    </div>

    <div id="gprofile-sub-container">
        <div id="gprofile-sidebar">
            <nav class="gprofile-semester">
                <form action="" class="gprofile-semester">
                    <select name="gprofile-years">
                        <option>2013/2014 tavasz</option>
                        <option>2012/2013 ősz</option>
                        <option>2012/2013 tavasz</option>
                    </select>
                </form>
            </nav>
            <nav class="gprofile-sidebar-navigation">
                <ul>
                    <li class="on"><a href="">Szöveges értékelés</a></li>
                    <li><a href=""></a>Pontozási elvek</li>
                    <li><a href=""></a>Pontozás</li>
                </ul>
            </nav>
        </div>

        <div id="gprofile-main-content">
            <div class="gprofile-main-content-text">
            </div>
        </div>
    </div>
</div>