<div id="gprofile">
    <div id="gprofile-container">
        <div class="gprofile-logo">
            <img src=""/>
        </div>

        <div class="gprofile-photo-name">
            <div class="gprofile-name">Clubception</div>
            <div class="gprofile-description">Az első emeleti kocsma rendezvényeinek felelőse</div>
        </div>

        <tabset>
            <tab heading="Adatok">
                <div class="gprofile-leftbar">

                </div>
                <div class="gprofile-rightbar">
                    A kör adatai
                </div>
                <div class="clearfix"></div>
            </tab>
            <tab heading="Tagok">
                <div class"gprofile-members"></div>
            </tab>
            <tab heading="Értékelések">
                <div class="gprofile-leftbar">
                    Menüsor
                </div>
                <div class="gprofile-rightbar">
                    Értékelések
                </div>
                <div class="clearfix"></div>
            </tab>
        </tabset>
    </div>
</div>