<div id="groups">
<div class="groups-container">
    <div class="groups-container-top">

        <div id="groups-page-name">Körök</div>

        <div class="groups-input-field">
             <input id="groups-input" type="text" placeholder="keresel egy kört?" ng-model="groupquery"/>
             <button id="groups-submit"></button>
        </div>
    </div>

    <div class="groups-boxes">

        <a class="groups-box" ng-repeat="group in groups | filter:{name:groupquery}" ng-href="/group/{{group.id}}">
            <img class="groups-logo" ng-src="{{group.img}}"/>
            <div class="groups-name">{{group.name}}</div>
        </a>

        <div class="clearfix"></div>
    </div>

    <div class="groups-container-bottom"> </div>

    <div class="groups-paginator">
        <button id="groups-previous" class="groups-page">&laquo;</button>
        <button id="page-1" class="groups-page on">1</button>
        <button id="page-2" class="groups-page">2</button>
        <button id="page-3" class="groups-page">3</button>
        <button id="page-4" class="groups-page">4</button>
        <button id="page-5" class="groups-page">5</button>
        <button id="page-6" class="groups-page">6</button>
        <button id="groups-next" class="groups-page">&raquo;</button>
    </div>

</div>
</div>
