<div id="profile">
    <div id="profile-container">
        <div class="profile-logo">
            <img src=""/>
        </div>

        <div class="profile-photo-name">
            <div class="profile-name">Váradi Szabolcs</div>
            <div class="profile-room">SCH 613</div>
        </div>

        <tabset>
            <tab heading="Adatok">
                <div class="profile-leftbar">

                </div>
                <div class="profile-rightbar">
                    Személyes adatok
                </div>
                <div class="clearfix"></div>
            </tab>
            <tab heading="Tagságok">
                <div class="profile-rightbar">
                    Nagyon sok tagság jön ide
                </div>
            </tab>
    </tabset>
</div>
</div>