<wicket:panel>
    <img id="logoImg" src="images/logoProfil.jpg" alt="VIR Profil logó" />
    <img id="logoTxt" src="images/txtVirProfil.gif" alt="VIR Profil" />
    <ul class="horizontal" id="pagemenu">
        <li><a wicket:id="searchPageLink">Keresés</a></li>
        <li><a wicket:id="profilePageLink">Profilom</a></li>
        <li><a wicket:id="editPageLink">Szerkesztés</a></li>
        <li><a wicket:id="changePasswordPageLink">Jelszóváltoztatás</a></li>
        <li><a wicket:id="birthDayPageLink">Szülinaposok</a></li>
    </ul>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-9244343-6");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
</wicket:panel>