<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <link rel="stylesheet" type="text/css" href="css/style-navbar3.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1250" />
        <link rel="stylesheet" href="css/profile-style.css" type="text/css" />
        <!--[if lt ie 7]><link rel="stylesheet" href="css/styleie.css" type="text/css" /><![endif]-->
        <link rel="shortcut icon" href="/profile/images/profile/favicon.ico" />
        <title>VIR Profil</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div id="navbar3" class="bluetheme">
            <ul id="navbar3-menu" style="width: 900px;">
                <li class="actual">
                    <span style="background-image: url('https://idp.sch.bme.hu/profile/images/navbar3/profil-logo.png');">profil</span>
                </li>
                <li>
                    <a href="http://news.sch.bme.hu/"
                       style="background-image: url('https://idp.sch.bme.hu/profile/images/navbar3/news-logo.png');">news</a>

                </li>
                <li>
                    <a href="/korok/"
                       style="background-image: url('https://idp.sch.bme.hu/profile/images/navbar3/korok-logo.png');">körök</a>
                </li>
                <li>
                    <ul style="width: 115px;">
                        <li><a href="https://wiki.sch.bme.hu/bin/kirloginform?path=/Main/WebHome/" class="lock"></a><a href="https://wiki.sch.bme.hu/">wiki</a></li>
                        <li><a href="http://info.sch.bme.hu/sso-login.php?return=http://info.sch.bme.hu/" class="lock"></a><a href="http://info.sch.bme.hu/">infosite</a></li>
                        <li><a href="http://villany.sch.bme.hu/sso-login.php?return=http://villany.sch.bme.hu/" class="lock"></a><a href="http://villany.sch.bme.hu/">villanysite</a></li>
                        <li><a href="https://kb.sch.bme.hu/sso-login.php?return=https://kb.sch.bme.hu/" class="lock"></a><a href="https://kb.sch.bme.hu/">kb</a></li>
                        <li><a href="https://lists.sch.bme.hu/">levlisták</a></li>
                        <li><a href="https://messenger.sch.bme.hu/">messenger</a></li>
                    </ul>
                    <span class="noicon">szolgáltatások</span>
                </li>
                <li>
                    <ul style="width: 100px;">
                        <li><a href="http://kir-dev.sch.bme.hu/wp-login.php" class="lock"></a><a href="http://kir-dev.sch.bme.hu/">kir-dev</a></li>
                        <li><a href="https://konyvtar.sch.bme.hu/sso-login.php?return=http://konyvtar.sch.bme.hu/" class="lock"></a><a href="http://konyvtar.sch.bme.hu/">könyvtár</a></li>
                        <li><a href="http://bbk.sch.bme.hu/">bbk</a></li>
                        <li><a href="http://pizzasch.sch.bme.hu/">pizzásch</a></li>
                        <li><a href="http://spot.sch.bme.hu/">spot</a></li>
                    </ul>
                    <span class="noicon">közösség</span>
                </li>
                <li>
                    <ul style="width: 100px;">
                        <li><a href="http://neptun.bme.hu/">neptun</a></li>
                        <li><a href="http://www.kth.bme.hu/">kth</a></li>
                        <li><a href="https://www.vik.bme.hu/">vik.bme</a></li>
                    </ul>
                    <span class="noicon">egyéb</span>
                </li>
                <li class="login">
                    <a href="https://idp.sch.bme.hu/opensso/UI/Logout" class="noicon">kijelentkezés</a>
                </li>
            </ul>
        </div>

        <div id="container">
            <div id="header">
                <img id="logo" src="images/profile/logoProfil.jpg" alt="VIR Profil logó" />
                <img id="txtVirProfil" src="images/profile/txtVirProfil.gif" alt="VIR Profil" />
                <ul class="horizontal" id="pagemenu">
                    <li><a wicket:id="searchPageLink">Keresés</a></li>
                    <li><a wicket:id="profilePageLink">Profilom</a></li>
                    <li><a wicket:id="editPageLink">Szerkesztés</a></li>
                    <li><a wicket:id="changePasswordPageLink">Jelszóváltoztatás</a></li>
                    <li><a wicket:id="birthDayPageLink">Szülinaposok</a></li>
                    <!--li><a wicket:id="listGroupsLink">Csoportok</a></li-->
                    <!--<li><a wicket:id="logoutPageLink">Kijelentkezés</a></li>-->
                </ul>
                <!--
                    <ul class="horizontal" id="loginmenu">
                            <li><a href="">Bejelentkezés</a></li>
                            <li><a href="">Regisztráció</a></li>
                    </ul>
                -->
            </div>

            <div id="content">
                <div class="header" wicket:id="headerLabelContainer">
                    <span wicket:id="headerLabel"></span>
                </div>
                <wicket:child></wicket:child>
            </div>


            <div id="befigyeloemberke"></div>
        </div>
        <div id="footer"><div id="footercont">
                <span>
                    <a href="http://kirdev.sch.bme.hu/trac/vip/wiki/VirProfile">VIR Profil 1.3-SNAPSHOT</a>
                    &copy; 2008 <a href="http://kir-dev.sch.bme.hu">Kir-Dev</a> | Design by Kir-Dev Team</span>
            </div></div>
    </body>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-9244343-6");
            pageTracker._trackPageview();
        } catch(err) {}</script>
</html>
