<wicket:extend>
        <div id="container">
            <div id="header">
                <img id="logo" src="images/logoProfil.jpg" alt="VIR Profil logó" />
                <img id="txtVirProfil" src="images/txtVirProfil.gif" alt="VIR Profil" />
                <ul class="horizontal" id="pagemenu">
                    <li><a wicket:id="searchPageLink">Keresés</a></li>
                    <li><a wicket:id="profilePageLink">Profilom</a></li>
                    <li><a wicket:id="editPageLink">Szerkesztés</a></li>
                    <li><a wicket:id="changePasswordPageLink">Jelszóváltoztatás</a></li>
                    <li><a wicket:id="birthDayPageLink">Szülinaposok</a></li>
                </ul>
            </div>

            <div id="content">
                <div class="header">
                    <span wicket:id="headerLabel"></span>
                </div>
                <div id="data">
                    <wicket:child></wicket:child>
                </div>
            </div>

            <div id="befigyeloemberke"></div>
        </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-9244343-6");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
</wicket:extend>
