<wicket:extend>
        <div id="container">
            <div id="header">
                <img id="logo" src="images/logoKorok.gif" alt="VIR Körök logó" />
                <img id="txtVirKorok" src="images/txtVirKorok.png" alt="VIR Körök" />
                <form wicket:id="searchForm" style="position: relative; float: right; margin-top: 55px">
                    <select style="width: 110px;" wicket:id="searchDdc" />
                    <input type="text" class="textinput" style="width: 150px;" wicket:id="searchField"/>
                    <input type="submit" value="Keresés" />
                </form>
                <ul class="horizontal" id="pagemenu">
                    <li><a wicket:id="showuserlink">Profilom</a></li>
                    <li><a wicket:id="grouphierarchylink">Egységek</a></li>
                    <li><a wicket:id="svieaccount">SVIE tagság</a></li>
                    <li><a wicket:id="ertekeleseklink">Értékelések</a></li>
                    <li><a wicket:id="elbiralas">Elbírálás</a></li>
                    <li><a wicket:id="editsettings">Adminisztráció</a></li>
                </ul>
            </div>
            
            <div id="content">
                <div class="header">
                    <span wicket:id="headerLabel"></span>
                </div>
                <div id="data">
                    <wicket:child></wicket:child>
                </div>
            </div>
            
            <div id="fogaskerek"></div>
        </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-9244343-5");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
</wicket:extend>