<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" xml:lang="hu" lang="hu">
    <head>
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/korok/images/favicon.ico" />
        <script type="text/javascript" src="http://navbar.kirdev.sch.bme.hu/vir-navbar3.js"></script>
        <title>VIR Körök</title>
    </head>
    <body>
        <script type="text/javascript">
            var navbarConf = {
                logoutLink: 'https://idp.sch.bme.hu/opensso/UI/Logout',
                theme: 'blue',
                width: 900
            };
            printNavbar(navbarConf);
        </script>

        <div id="container">
            <div id="header">
                <img id="logo" src="images/logoKorok.gif" alt="VIR Körök logó" />
                <img id="txtVirKorok" src="images/txtVirKorok.png" alt="VIR Körök" />
                <ul class="horizontal" id="pagemenu">
                    <li><a wicket:id="showuserlink">Profilom</a></li>
                    <li><a wicket:id="grouphierarchylink">Egységek</a></li>
                    <li><a wicket:id="svieaccount">SVIE tagság</a></li>
                    <li><a wicket:id="ertekeleseklink">Értékelések</a></li>
                    <li><a wicket:id="elbiralas">Elbírálás</a></li>
                    <li><a wicket:id="editsettings">Adminisztráció</a></li>
                </ul>
            </div>
            <div id="content">
                <div class="header" wicket:id="headerLabelContainer">
                    <span wicket:id="headerLabel"></span>
                </div>
                <div id="data">
                    <wicket:child></wicket:child>
                </div>
            </div>
            <div id="fogaskerek"></div>
        </div>
        <div id="footer">
            <div id="footercont">
                <span>
                    <a href="https://redmine.kirdev.sch.bme.hu:8081/wiki/vip/Korok">VIR Körök 2.1.1</a>
                    &copy; 2009 <a href="http://kir-dev.sch.bme.hu">Kir-Dev</a> | Design by KIR-DEV Team
                </span>
            </div>
        </div>
    </body>
</html>
