body {
    background: #CCDCE6 url('../images/bckgBody-profil.gif') top left repeat-x;
}

#header {
    height: 134px;
    background: url('../images/bckgHeader-profil.gif') bottom left repeat-x;
}

#header ul#pagemenu {
    left: 100px;
}

#header ul li:hover { background: #4A7493; }

#logoImg {
    position: absolute;
    left: 18px;
    top: 32px;
}

#logoTxt {
    position: absolute;
    left: 101px;
    top: 40px;
}

#container {
    background-image: url('../images/befigyeloemberke.gif'), url('../images/bckgContent.gif');
    background-repeat: no-repeat, repeat-x;
    background-position: bottom right, 0px 134px;
}

#searchcont { padding-bottom: 100px; }
#admincont { padding-top: 32px; padding-bottom: 100px; }

#admincont form table tr td img { border: 0px; }

#admincont form table tr td a.lockLink { border-bottom: none; }

#admincont form table tr td { height: 27px; }

#admincont form table .gender_radios label {
    display: block;
    width: 30px;
    text-align: left;
    padding-right: 0px;
    padding-top: 4px;
    font-weight: normal;
}

#admincont form table .gender_radios input {
    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 3px;
}

#admincont form table .gender_radios br { display: none; }

#admincont form table select {
    height: 22px;
    padding: 2px 0 0 0;
}
#communitycont {
    margin: 0 30px;
    padding-bottom: 310px;
}
input.textinput{
    height: 20px;
    width: 355px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #345F7D;
    vertical-align: top;
    padding: 2px 0 0 2px;
}
input.textinput.limited { width: 90px; }
input.inputError{
    height: 20px;
    width: 355px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #345F7D;
    vertical-align: top;
    padding: 2px 0 0 2px;
    border: 2px solid #7D3434;
}
input.btn {
    font: bold 14px verdana, arial, sans;
    color: #ffffff;
    background: #517D9D;
    border: 1px solid #345F7D;
    height: 22px;
    padding: 0 7px 3px 7px;
}
form label {
    display: block;
    float: left;
    width: 195px;
    text-align: right;
    padding-right: 15px;
    padding-top: 3px;
    font-weight: bold;
}
form label.labelError {
    color: #7D3434;
}
form p { margin-bottom: 6px; }
select { 
    border: 1px solid #345F7D;
    background: #ffffff;
    color: #000000;
    width: 125px;
}
select.narrow { width: 99px; }
select.wide { width: 355px; }

#list {
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 15px;
    /*width: 440px;*/
    font-size: 13px;
}

.listtitle {
    width: 100px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}

.photo {
    float:right;
    position:relative;
    text-align:center;
    top:30px;
    width:460px;
    z-index:1;
}

.photo img {
    border:1px solid #345F7D;
}

#btns { margin-left: 290px; }

#searchbox {
    position: relative;
    padding: 100px 0 0 210px;
}

#searchresultbox {
    position: relative;
    padding: 11px 0 0 210px;
}

.lock {
    position: relative;
    top: 3px;
    left: 6px;
}
