<!DOCTYPE html>
<html ng-app="pekFrontendApp">
<head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/deps/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/header.css"/>
    <link rel="stylesheet" href="/stylesheets/utils.css"/>
    <link rel="stylesheet" href="/stylesheets/groups-profile.css"/>
</head>
<body>

    <header ng-include="'/partials/header.html'" ng-controller="HeaderCtrl"></header>

    <section id="content">
        <div class="container">
            <div ng-include="'/partials/groups-profile.html'" ng-controller="GroupsProfileCtrl"></div>
        </div>
    </section>

    <footer>
        <section>
            &copy; 2014 Kir-Dev | email: kir-dev [kukac] sch.bme.hu | twitter | facebook | #kir-dev on freenode
        </section>
    </footer>

    <!-- bower:js -->
    <script src="/deps/angular/angular.js"></script>
    <script src="/deps/angular-resource/angular-resource.js"></script>
    <script src="/deps/angular-animate/angular-animate.js"></script>
    <script src="/deps/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/deps/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->

    <script src="/scripts/angular-app.js"></script>
    <script src="/scripts/controllers/header-controller.js"></script>
    <script src="/scripts/controllers/groups-profile-controller.js"></script>
    <script src="/scripts/services/angular-services.js"></script>
</body>
</html>
