<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns:wicket="http://wicket.apache.org/">
    <head>
        <title><wicket:message key="title"/></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            .kotelezo {
                border-color: red;
            }
        </style>
    </head>
    <body>
        <h1><wicket:message key="title"/></h1>
        <div id="header">
            <a wicket:id="ertekelesek"><wicket:message key="link.ertekelesek"/></a>&nbsp;|&nbsp;
            <a wicket:id="elbiralas"><wicket:message key="link.elbiralas"/></a><br/>
            
            <wicket:message key="actualuser"/>:&nbsp;
            <span wicket:id="actualuser"/>
            &nbsp;|&nbsp;
            <a wicket:id="selectgroup"><wicket:message key="actualgroup"/></a>:&nbsp;
            <span wicket:id="actualgroup"/>
            &nbsp;|&nbsp;
            <a wicket:id="setsemester"><wicket:message key="actualsemester"/></a>:&nbsp;
            <span wicket:id="actualsemester"/>
            &nbsp;|&nbsp;
            <a wicket:id="setidoszak"><wicket:message key="actualidoszak"/></a>:&nbsp;
            <span wicket:id="actualidoszak" />
            <a wicket:id="grouphierarchylink">Egységek</a>
            &nbsp;|&nbsp;
            <a wicket:id="showuserlink">Közösségi profil</a>
        </div>
        <div wicket:id="pagemessages" id="pagemessages">
        </div>
        <hr/>
        <div id="content">
            <wicket:child />
        </div>
    </body>
</html>
