<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wicket="http://wicket.apache.org/">
    <head>
        <link rel="stylesheet" type="text/css" href="css/style-navbar3.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1250" />
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>VIR Körök</title>
    </head>
    <body>
        <div id="navbar3" class="bluetheme">
            <ul id="navbar3-menu" style="width: 900px;">
                <li>
                    <a href="https://idp.sch.bme.hu/profile/" style="background-image: url('images/navbar3/profil-logo.png');">profil</a>
                </li>
                <li>
                    <a href="http://news.sch.bme.hu/" style="background-image: url('images/navbar3/news-logo.png');">news</a>

                </li>
                <li class="actual">
                    <span style="background-image: url('images/navbar3/korok-logo.png');">körök</span>
                </li>
                <li>
                    <ul style="width: 115px;">
                        <li><a href="https://wiki.sch.bme.hu/bin/kirloginform?path=/Main/WebHome/" class="lock"></a><a href="https://wiki.sch.bme.hu/">wiki</a></li>
                        <li><a href="http://info.sch.bme.hu/sso-login.php?return=http://info.sch.bme.hu/" class="lock"></a><a href="http://info.sch.bme.hu/">infosite</a></li>
                        <li><a href="http://villany.sch.bme.hu/sso-login.php?return=http://villany.sch.bme.hu/" class="lock"></a><a href="http://villany.sch.bme.hu/">villanysite</a></li>
                        <li><a href="https://lists.sch.bme.hu/">levlisták</a></li>
                        <li><a href="https://messenger.sch.bme.hu/">messenger</a></li>
                    </ul>
                    <span class="noicon">szolgáltatások</span>
                </li>
                <li>
                    <ul style="width: 100px;">
                        <li><a href="http://kir-dev.sch.bme.hu/wp-login.php" class="lock"></a><a href="http://kir-dev.sch.bme.hu/">kir-dev</a></li>
                        <li><a href="https://konyvtar.sch.bme.hu/sso-login.php?return=http://konyvtar.sch.bme.hu/" class="lock"></a><a href="http://konyvtar.sch.bme.hu/">könyvtár</a></li>
                        <li><a href="http://spot.sch.bme.hu/">spot</a></li>
                        <li><a href="http://pizzasch.sch.bme.hu/">pizzásch</a></li>
                    </ul>
                    <span class="noicon">közösség</span>
                </li>
                <li>
                    <ul style="width: 100px;">
                        <li><a href="http://neptun.bme.hu/">neptun</a></li>
                        <li><a href="http://www.kth.bme.hu/">kth</a></li>
                        <li><a href="https://www.vik.bme.hu/">vik.bme</a></li>
                    </ul>
                    <span class="noicon">egyéb</span>
                </li>
                <li class="login">
                    <a wicket:id="logoutPageLink" class="noicon">kijelentkezés</a>
                </li>
            </ul>
        </div>
        <div id="container">
            <div id="header">
                <img id="logo" src="images/logoKorok.gif" alt="VIR Körök logó" />
                <img id="txtVirKorok" src="images/txtVirKorok.png" alt="VIR Körök" />
                <ul class="horizontal" id="pagemenu">
                    <li><a wicket:id="showuserlink">Profilom</a></li>
                    <li><a wicket:id="grouphierarchylink">Egységek</a></li>
                    <li><a wicket:id="ertekeleseklink">Értékelések</a></li>
                    <li><a wicket:id="elbiralas">Elbírálás</a></li>
                    <li><a wicket:id="editsettings">Beállítások</a></li>
                    <!--<li><a wicket:id="selectgroup">Csoportok</a></li>-->
                    <!--li><a wicket:id="setsemester">Szemeszter</a></li-->
                    <!--li><a wicket:id="setidoszak">Időszakok</a></li-->
                    <!--<li><a wicket:id="setsemester">Szemeszter</a></li>
                    <li><a wicket:id="setidoszak">Időszakok</a></li>-->
                </ul>
                <!--<a wicket:id="ertekelesek"><wicket:message key="link.ertekelesek"/></a>&nbsp;|&nbsp;
                <a wicket:id="elbiralas"><wicket:message key="link.elbiralas"/></a><br/>

                <wicket:message key="actualuser"/>:&nbsp;
                <span wicket:id="actualuser"/>
                &nbsp;|&nbsp;
                <a wicket:id="selectgroup"><wicket:message key="actualgroup"/></a>:&nbsp;
                <span wicket:id="actualgroup"/>
                &nbsp;|&nbsp;
                <a wicket:id="setsemester"><wicket:message key="actualsemester"/></a>:&nbsp;
                <span wicket:id="actualsemester"/>
                &nbsp;|&nbsp;
                <a wicket:id="setidoszak"><wicket:message key="actualidoszak"/></a>:&nbsp;
                <span wicket:id="actualidoszak" />
                <a wicket:id="grouphierarchylink">Egységek</a>
                &nbsp;|&nbsp;
                <a wicket:id="showuserlink">Közösségi profil</a>-->
            </div>
            <div id="content">
                <div class="header" wicket:id="headerLabelContainer">
                    <span wicket:id="headerLabel"></span>
                </div>
                <!--div wicket:id="pagemessages" id="pagemessages"></div-->
		<div id="data">
                    <wicket:child></wicket:child>
                </div>
            </div>

            <!--div wicket:id="pagemessages" id="pagemessages"></div-->
            <!--<hr/>-->
            <!--
                <wicket:child />
            </div>-->
            <div id="fogaskerek"></div>
        </div>
        <div id="footer">
            <div id="footercont">
                <span>
                    <a href="http://kirdev.sch.bme.hu/trac/vip/wiki/Korok">VIR Körök 1.0.1-SNAPSHOT</a>
                    &copy; 2009 <a href="http://kir-dev.sch.bme.hu">Kir-Dev</a> | Design by KIR-DEV Team
                </span>
            </div>
        </div>
    </body>
</html>
