* {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}
body {
  background: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header {
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
  height: 20px;
}
header nav {
  float: left;
}
header nav a {
  float: left;
  text-decoration: none;
  color: #ffffff;
  margin-right: 30px;
}
header #user-field {
  float: right;
}
header #user-field #user-name {
  font-weight: 700;
  margin-right: 10px;
}
header #user-field #user-img {
  width: 20px;
  float: right;
}
#logo {
  float: left;
}
#logo img {
  display: block;
  float: left;
  width: 100px;
}
#logo span {
  display: block;
  float: left;
  font-size: 30px;
  color: #ffffff;
  line-height: 100px;
}
#content {
  margin-top: 80px;
}
#search-field {
  float: left;
  height: 100px;
  margin-top: 27px;
  margin-left: 30px;
}
#search-input {
  width: 500px;
  height: 25px;
  padding: 10px;
  position: relative;
  background: white;
}
#search-input #search-text {
  line-height: 25px;
  border: none;
  width: 500px;
  height: 25px;
  font-size: 22px;
}
#search-input #search-text:hover,
#search-input #search-text:focus {
  border: none;
  outline: none;
}
#search-input #search-submit {
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
}
#search-help {
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  font-size: 10px;
  color: white;
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 20px;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
}
footer section {
  float: right;
}
.Center-horizontally {
  margin-right: auto;
  margin-left: auto;
}
.wide-container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}
