@defaultFont: 'Open Sans';
@defaultFontColor: white;
@blackFontColor: black;
@defaultFontSize: 14px;
@light: 300;
@regular: 400;
@bold: 700;

// footer - copyright section

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 20px;
  padding: 10px;

  color: @defaultFontColor;
  font-size: @defaultFontSize;

  section {
    float: right;
  }
}

